body{
    background-color: black;
}

#scene{
    position: relative;
    width: 800px;
    height: 600px;
    background-color: antiquewhite;
}

#b1, #b2, #b3, #b4{
    position: absolute;
    width: 128px;
    height: 128px;
    background-color: aquamarine;
    overflow: hidden;
    margin: 30px auto;
}


#b1{
    top: 0;
    left: 0;
}

#b2{
    top: 0;
    right:  0;
}
#b3{
    bottom:  0;
    left: 0;
}
#b4{
    bottom: 0;
    right: 0;
}